  <div class="card-body">
    <h6 class="card-title">
      {{portfolio.name}}
      <i class="fa fa-pencil pull-right"></i>
    </h6>
    <div class="card-text">
      <div class="row">
        <div class="col">
          <p>Profit</p>
        </div>
        <div class="col">
          <p>{{portfolio.profit}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Gain</p>
        </div>
        <div class="col">
          <p>{{(portfolio.initialAmount + portfolio.amountAdded) / portfolio.profit | number: '2.0-2'}} %</p>
        </div>
      </div>
    </div>
  </div>