  <div class="card-body">
    <h6 class="card-title">
      {{portfolio.name}}
      <i class="fa fa-pencil pull-right"></i>
    </h6>
    <div class="card-text">
      <div class="row">
        <div class="col">
          <p>Profit</p>
        </div>
        <div class="col">
          <p>{{portfolio.profit | amount}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Gain</p>
        </div>
        <div class="col">
          <p>{{ (portfolio.profit / (portfolio.initialAmount + portfolio.amountAdded)) * 100 | number: '1.0-2'}} %</p>
        </div>
      </div>
    </div>
  </div>